<h1>Welcome <%= @user.username %></h1>

  <div class="dailies">
    <% @user.dailies.each do |daily| %>
    <div class="daily">
      <%= link_to daily.goal, user_daily_path(@user, daily) %>
    </div>
    <% end %>
 </div>

<%= link_to "Create Dailies", new_user_daily_path(@user) %>
